<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Bienvenue</title></head>
<body bgcolor = "orange">
<h1><center>Groopz</center></h1>
<div>
	<h3>A place to make plans at random and coordinate</h3>
	<form method = "GET" action = "page2">
	<label for="name"><I>Username &nbsp;</I></label> <input type = "text" name="name" id="name"></input><br><br>
	<label for="pword"><I>Password   &nbsp;&nbsp;</I></label> <input type = "password" name="password" id="pword"></input><br><br>
	&ensp;<input type = "submit"></input>
</div>
</body>
</html>